<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Instafilter.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7D41FF3C1E643D51002F01E1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7D41FF501E643D52002F01E1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7D41FF5B1E643D52002F01E1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
